
{% extends "layout.html" %}

{% block content %}
<div class="body-content">
    <div class="row">
      <h1>West Sacramento Urban Farming Program</h1>
      <p>The parcels listed on this website have been selected by the City of West Sacramento as locations where farming would benefit the community. Additionally, any parcel owned by the city can be leased for a period of at least five years at a rate of $1 per year. For additional information, or to find out how to list a parcel that you own, please contact <a href="mailto:aaronl@cityofwestsacramento.org">Aaron Laurel</a>, Development Coordinator for the City of West Sacramento.</p>
    </div>
</div>
{% endblock %}

