
{% block content %}
<div class="container">
  <h1>About the Urban Farming Program</h1>
  <hr>
  <p>The properties listed on this website have been selected by the <a href="https://www.cityofwestsacramento.org/">City of West Sacramento</a> as locations where farming would benefit the community. Additionally, any property owned by the city can be leased for a period of at least five years at a rate of $1 per year. For additional information, or to find out how to list a property that you own, please contact <a href="mailto:aaronl@cityofwestsacramento.org">Aaron Laurel</a>, Development Coordinator for the City of West Sacramento.</p>
</div>
{% endblock %}
