{% extends "app-base.html" %}

{% include "nav-form.html" %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">Submit an Inquiry</h1>
      <p>The property owner reviews each application. They will follow up with you. Below, <b>please provide your contact information.</b></p>
      <table>
        <tr>
          <td><b>To:</b></td><td></td>
          <td>{{farmland.ownerName}}</td>
        </tr>
        <tr>
          <td><b>Subject:</b></td><td>&nbsp;</td>
          <td>I'm interested in leasing the {{farmland.address}} property.</td>
        </tr>
      </table>
      <br />
      <form id="contactLandOwnerForm" class="form form-register form-horizontal" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div class="col-sm-2 control-label">{% if form.name.flags.required %}*{% endif %} {{form.name.label}}</div>
          <div class="col-sm-6">{{form.name(class_="form-control")}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{% if form.phone.flags.required %}*{% endif %} {{form.email.label}}</div>
          <div class="col-sm-6">{{form.email(class_="form-control")}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{% if form.phone.flags.required %}*{% endif %} {{form.phone.label}}</div>
          <div class="col-sm-6">{{form.phone(class_="form-control")}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{% if form.experience.flags.required %}*{% endif %} {{form.experience.label}}</div>
          <div class="col-sm-6">{{form.experience(class_="form-control")}}</div>
        </div>
        <hr />
        <div class="row parcel-submit">
          <span class="submit-buttons">
            <button class="btn btn-primary btn-lg btn-submit" type="submit" value="Submit">Submit</button>
            <button class="btn btn-default btn-lg" type="button" value="Cancel" onclick="document.location.href='/find-land'">Cancel</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
