{% extends "layout.html" %}
{% block content %}

<div class="container"
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Submit an Inquiry</h1>
            <p>Are you interested in leasing this land for an urban farm? Send a message directly to the  Executive Director of Urban Lands, he's a really great guy.</p>
            <form id="editParcelForm" class="form form-register form-horizontal" method="POST" action="" role="form">
                {{ form.hidden_tag() }}

                <div class="form-group">
                  <div class="col-sm-2 control-label">{{form.name.label}}</div>
                  <div class="col-sm-6">{{form.name(placeholder="", class_="form-control")}}</div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 control-label">{{form.email.label}}</div>
                  <div class="col-sm-6">{{form.email(placeholder="", class_="form-control")}}</div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 control-label">{{form.phone.label}}</div>
                  <div class="col-sm-6">{{form.phone(placeholder="555-024-4032", class_="form-control")}}</div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 control-label">{{form.website.label}}</div>
                  <div class="col-sm-6">{{form.website(placeholder="facebook.com/blueth-farms", class_="form-control")}}</div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 control-label">{{form.cropPlan.label}}</div>
                  <div class="col-sm-6">{{form.cropPlan(class_="form-control")}}</div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 control-label">{{form.otherBackground.label}}</div>
                  <div class="col-sm-6">{{form.otherBackground(class_="form-control")}}</div>
                </div>

                <div class="form-group">
                  <div class="col-sm-2 control-label">{{form.additionalInfo.label}}</div>
                  <div class="col-sm-6">{{form.additionalInfo(placeholder="Please send me more information about the Barge Canal Access Property.", class_="form-control")}}</div>
                </div>

              <div class="row parcel-submit">
                <span class="submit-buttons">
                    <button class="btn btn-primary btn-lg btn-submit" type="button" value="Submit" onclick="document.location.href='/'">Submit</button>
                  <button class="btn btn-default btn-lg" type="button" value="Cancel" onclick="document.location.href='/'">Cancel</button>
                </span>
              </div>
            </form>

        </div>
    </div>
</div>

{% endblock %}
