{% extends "layout.html" %}
{% block content %}
<div class="farmland-details container" ng-controller="FarmlandDetailsController">
  <div class="col-md-6">
    <button type="button" class="btn back-btn" id="farmland-details-back-btn">
      <a href="{{ url_for('public.home') }}"><span class="fa fa-chevron-left"></span></a>
    </button>
    <div id="farm-details-address">{[farmland.address || 'Unknown Address']}</div>
    <div id="farm-details-acreage"><b>{[farmland.size]} Acres</b></div>
    <div id="farm-details-cost">${[farmland.cost]} per month</div>
    <div class="gray">Estimated {[farmland.water]} gallons per minute</div>
    <div class="gray">{[farmland.developmentPlan]} year maximum lease</div>
    <hr />
    <p>This porperty is zoned for <b>{[farmland.zoning]}</b>. This means:</p>
    <ul class="fa-ul">
      <li ng-class="{gray: !farmstands}"><span ng-class="listIconClass(farmstands)"></span>Comercial farm stands {[farmstands ? 'permitted' : 'restricted']}</li>
      <li ng-class="{gray: !parking}"><span ng-class="listIconClass(parking)"></span>Parking {[parking ? 'permitted' : 'restricted']}</li>
      <li ng-class="{gray: !events}"><span ng-class="listIconClass(events)"></span>Events {[events ? 'permitted' : 'restricted']}</li>
      <li ng-class="{gray: !equipment}"><span ng-class="listIconClass(equipment)"></span>Tractors and other large equipment {[equipment ? 'permitted' : 'restricted']}</li>
      <li ng-class="{gray: !pesticides}"><span ng-class="listIconClass(pesticides)"></span>Pesticide use restricted {[pesticides ? 'permitted' : 'restricted']}</li>
    </ul>
    <hr />
    <div id="farmland-details-links">
      <a ng-hide="farmland.soil === 'Made Land'" href="http://casoilresource.lawr.ucdavis.edu/sde/?series={[farmland.soil]}" target="_blank">Soil Survey</a> | <a href="https://maps.googleapis.com/maps/api/streetview?location={[center.lat]},{[center.lng]}&size=600x400" target="_blank">Google Street View</a><!-- | <a href="/farmland-details/photos?farmlandId={[farmland.id]}">Other Pictures</a>-->
    </div>
    <a id="contact-btn" class="btn btn-warning btn-contact" href="/contact-land-owner/{[farmland.id]}">Contact Owner</a>
  </div>
  <div class="col-md-6">
    <leaflet center="center" layers="layers" geojson="geojson" class="leaflet-angular-map"></leaflet>
  </div>
</div>
{% endblock %}
