{% extends "layout.html" %}
{% block content %}
<div class="container" ng-controller="FarmlandDetailsController">
  <div class="col-md-6">
    <button>&lt;</button>
    <div>Address</div>
    <div>Acreage</div>
    <div>Water Availability</div>
    <div>Maximum Lease</div>
    <hr />
    <p>This porperty is zoned for <b>{[farmland.zoning]}</b>. This means:</p>
    <ul>
      <li><img src=""></li>
    </ul>
    <hr />
    <div>
      Soil: <a href="" target="_blank">Soil Type</a> | 
      <a href="" target="_blank">Google Street View</a> | 
      <a href="/farmland-details/photos?farmlandId={[farmland.id]}">Other Pictures</a>
    </div>
    <a id="contact-btn" class="btn btn-warning btn-contact" href="/contact-land-owner">Submit Inquiry</a>
  </div>
  <div class="col-md-6">
    <leaflet center="center" layers="layers" geojson="geojson" class="leaflet-angular-map"></leaflet>
  </div>
</div>
{% endblock %}
