{% extends "layout.html" %}

{% include "nav.html" %}

{% include "header.html" %}

{% block content %}

    <!-- About Section -->
    <section id="about" class="container content-section text-center">

        <h2>Acres is the best way to find, list, and analyze land for urban farming.</h2>

        <hr>

        <div class="row value-props">
            <div class="col-md-4">
                <h4>For Farmers</h4>
                <img src="../static/public/images/for-farmers.png" width="140px">
                <p>Find farmable lots of land perfect for your urban farm.</p>
                <a class="btn btn-default" href="/find-land" role="button">Browse Property</a>
            </div>
            <div class="col-md-4">
                <h4>For Property Owners</h4>
                <img src="../static/public/images/for-property-owners.png" width="140px">
                <p>Prime an area for future development with an urban farm.</p>
                <a class="btn btn-default" href="#" role="button">List Property</a>
            </div>
            <div class="col-md-4">
                <h4>For Cities</h4>
                <img src="../static/public/images/for-cities.png" width="140px">
                <p>Identify food deserts to make better decisions about urban agriculture.</p>
                <a class="btn btn-default" href="http://github.com/codeforamerica/westsac-urban-land-locator" role="button">Redeploy</a>
            </div>
        </div>
    </section>
{% endblock %}
