
{% extends "layout.html" %}
{% block content %}



<!-- Modal login -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        {% if current_user and current_user.is_authenticated() %}
        <ul class="nav navbar-nav navbar-right">
            <li>
                <p class="navbar-text"><a class="navbar-link" href="{{ url_for('user.members') }}">Logged in as {{ current_user.username }}</a></p>
            </li>
            <li><a class="navbar-link" href="{{ url_for('public.logout') }}"><i class="fa fa-sign-out"></i></a></li>

        </ul>
        {% elif form %}
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('public.register') }}">Create account</a></li>
        </ul>
        <form id="loginForm" method="POST" class="navbar-form form-inline navbar-right" action="/" role="login">
          {{ form.hidden_tag() }}
          <div class="form-group">
            {{ form.username(placeholder="Username", class_="form-control") }}
            {{ form.password(placeholder="Password", class_="form-control") }}
          </div>
          <button type="submit" class="btn btn-default">Log in</button>
        </form>
        {% endif %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal login -->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div ng-controller="MainController">
  <div class="row">
      <div class="col-sm-8">
        <div class="row" ng-repeat="farm in farms">
            <div class="col-md-4">
              <img class="farm-image" ng-src="{[ farm.image ]}" alt="">
            </div>
            <div class="col-md-8">
              <ul class="info-icons pull-right">
                <li><img src="http://res.cloudinary.com/iaranzadi/image/upload/c_scale,w_35/v1426019828/no-luz_aa48xp.png" alt=""></li>
                <li><img src="http://res.cloudinary.com/iaranzadi/image/upload/c_scale,w_30/v1426019828/agua_p3xrij.png" alt=""></li>
                <li><img src="http://res.cloudinary.com/iaranzadi/image/upload/c_scale,w_35/v1426019828/home_uipig6.png" alt=""></li>
              </ul>
                <h2 class="title">{[ farm.title ]}</h2>
                <p class="description">{[ farm.description ]}</h4>
                <div class="contact">
                  <span class="name">{[ farm.contact ]}</span><br>
                  <span class="phone">{[ farm.phone ]}</span><br>
                  <span class="address">{[ farm.address ]}</span>
                </div>
                <hr>
            </div>

        </div>
      </div>
      <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
        <div class="sidebar-module sidebar-module-inset">
          <h4>About</h4>
          <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
        </div>
      </div>
  </div>
</div>
{% endblock %}
