{% extends "layout.html" %}
{% block content %}
<div ng-controller="MainController">
  <div class="row">
    <div class="col-lg-6">
      <div class="search-box">
        <span class="fa fa-search"></span>
        <input type="text" class="search" ng-model="searchText" placeholder="enter name, size, etc ">
      </div>
      <div class="row" ng-repeat="farm in farms | filter:searchText">
        <div class="col-md-12">
          <h2 class="title">{[farm.address]} <button id="contact-btn" class="btn btn-warning pull-right">contact</button></h2>
          <ul class="info">
            <li>water: {[farm.water]}</li>
            <li>size: {[farm.size]} acres</li>
            <li>zoning: {[farm.zoning]}</li>
            <li>availability: {[farm.developmentPlan]}</li>
            <li>restrictions: {[farm.restrictions]}</li>
          </ul>
          <hr>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-sm-offset-1 blog-sidebar">
      <mapbox map-id="codeforamerica.m5m971km" lat="38.58024" lng="-121.5305" zoom="13">
        <div ng-repeat="farm in farms | filter:searchText">
          <feature-layer data="{[farm.geometry]}" color="#f0ad4e"></featureLayer>
          <marker lat="{[farm.center.lat]}" lng="{[farm.center.lng]}" color="#f0ad4e">
            <h1>{[farm.address]}</h1>
            <p>{[farm.size]} acres</p>
            <p>{[farm.costEstimate]}</p>
            <p style="display: none">{[farm.id]}</p>
          </marker>
        </div>
      </mapbox>
    </div>
  </div>
</div>
{% endblock %}
