<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Acres</h1>
                        <p class="intro-text">The best way to find urban farmland.</p>
                        <a class="btn btn-home btn-lg btn-browse" href="/find-land" role="button">Browse Properties
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        </a>
                        <a href="#map" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
