<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Acres</h1>
                        <p class="intro-text">The best way to find land for farming.</p>
                        <a href="#map" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <script type="text/javascript">
    $(window).resize(function(){
      var windowWidth = $(window).width();
      var imgSrc = $('#image');
      if(windowWidth <= 800){
          imgSrc.attr('src','image1.jpg');
      }
      else if(windowWidth > 800){
          imgSrc.attr('src','image2.jpg');
      }
    });
    </script>
