<div id="nav-form">
  <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ url_for('public.home') }}">
                    <i class="fa fa-play-circle"></i>  <span class="light">Acres</span>
                </a>
            </div>
        </div>
        <!-- /.container -->
    </nav>
</div>
