/* map in the add parcel template */

#map {
  height: 565px;
  margin-top: 20px;
  border-radius: 4px;
}

.mapTogether {
  position: fixed;
  top: 60px;
  bottom:0;
  width:60% !important;
  height: 635px !important;
  border-radius: 8px;
}
