.navbar-brand {
  padding: 0px;
}

.navbar-brand h1{
  margin-top: 5px;
  color: white;
}

.navbar-nav > li > a {
  font-size: 25px;
  color: white;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: RGBA(105, 87, 156, 0.8);
  color: white;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

.navbar-fixed-top {
  background-color: RGBA(105, 87, 156, 0.8);
}
