.navbar-brand {
  padding: 12px;
}

.navbar-brand h1{
  margin-top: 13px;
  color: black;
  font-size: 23px;
  font-weight: bold;
}

.container-narrow{
  margin: 0 auto;
  max-width: 700px;
}

.navbar-form input[type="text"],
.navbar-form input[type="password"] {
  width: 180px;
}

.navbar-fixed-top {
  background-color: #ddd;
}

.main-nav {padding: 0 40px;}
