/* =============================================================================
   App specific CSS file.
   ========================================================================== */

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 50px;
  font-family: 'Source Sans Pro', 'Helvetica', sans-serif;
  font-size: 16px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

td {
  padding-right: 30px;
}

textarea.form-control {
  height: 200px !important;
}

.alert {
  margin-top: 10px;
}

.form-checkbox {
  margin-top: 10px !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.form-register .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* list row */
.title {
  //color: DimGray;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 0;
}

.contact {
  color: DarkGray;
}

#contact-btn {
  font-size: 15px;
  background-color: blue;
  border-color: blue;
  opacity: 0.75;
}

.farm-image {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  width: 90% ;
  margin-top: 25px;
}

ul.info {
  list-style-type: none;
  padding-left: 0px;
  color: #aaa;
  margin-bottom: 0;
  font-size: 15px;
}

ul.info > li {

}

.parcel-listing:hover {
  background-color: #f3f8fd;
  //max-width: 457px;
  //margin-left: 15px;
}


ul.info-icons{
  padding: 0;
  margin-top: 15px;
  list-style: none;
}

ul.info-icons > li {
  display: inline;
}

ul.info-icons > li > img {
  margin: 0px 5px;
}

/* Add land form style */

.parcel-submit {
  height: 65px;
  padding-top: 10px;
}

.parcel-submit .btn {
  margin-right: 10px;
}

.parcel-submit .btn-submit {
  background-color: blue;
  border: 1px solid blue;
  color: white;
}

.parcel-submit .btn-cancel {
  border: 1px solid #69579c;
  color: #69579c;
}

.form-control::-webkit-input-placeholder, .form-control:-moz-placeholder, .form-control::-moz-placeholder, .form-control:-ms-input-placeholder {
  color: #ccc;
}

#draw-tool-img {
  max-width: 18px;
}

.text-green {
  color: green;
}

.nowrap {
  white-space: nowrap;
}

.highlighted {
  background-color: #ffffc6;
}

/* Farmland Details */

#farmland-details-back-btn {
  margin-left: -40px;
  margin-top: 20px;
  font-size: 24px;
  background-color: white;
  color: blue;
}

#farm-details-address {
  margin-top: -40px;
  font-size: 20px;
}

#farm-details-acreage {
  font-size: 24px;
}

#farm-details-cost {
  font-size: 20px;
}

#farmland-details-links {
  margin-bottom: 10px;
}

.farmland-details.container {
  margin-top: 30px;
}

.gray {
  color: gray;
}

.green {
  color: green;
}

/* Natasha added these clunky styles. */

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 4px;
}

.parcel-listing {
  padding: 30px 25px;
  border-bottom: 1px solid #eee;
}

.div-map {
  padding: 0;
}

.page-header {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  margin-top: 30px;
}

.leaflet-angular-map {
  height: 565px;
  width: 100%;
  margin-top: 20px;
}

.required {
  color: #d6373d;
}

.form-horizontal .control-label {
  text-align: left;
}

label {
  font-weight: normal;}

.help-block {
  font-size: 14px;
  color: #aaa;}

h3 {    
  font-size: 20px;
  font-weight: bold;}