{% extends "layout.html" %}
{% block content %}
<div class="container" ng-controller="PublishListingsController">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">List a Property</h1>
      <p>Use the <img id="draw-tool-img" src="/static/public/images/draw-tool.png"> tool to draw a shape around the location of the property.</p>
      <leaflet id="list-parcels-map" center="center" layers="layers" width="100%" height="480px"></leaflet>
      <hr>
      <h3>Property Details</h3>
      <form id="editParcelForm" class="form form-register form-horizontal" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.address.label}} {% if form.address.flags.required %}<span class="required">*</span>{% endif %}</div>
          <div class="col-sm-6">
            {{form.address(class_="form-control", **{'ng-model':'parcel.address'})}}
            <span class="help-block"><i>This will also serve as the title of the listing.</i></span>
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-2 control-label">
            <label for="newParcelSize">Area</label> <span class="required">*</span>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <input type="text" id="newParcelSize" name="size" ng-readonly="true" class="readonly form-control">
              <div class="input-group-addon">acres</div>
            </div>
            
            
            
            
            <span class="help-block"><i>Auto-calculated based on your drawing.</i></span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">
            {{form.developmentPlan.label}} {% if form.developmentPlan.flags.required %}<span class="required">*</span>{% endif %}
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              {{form.developmentPlan(placeholder="", class_="form-control")}}
              <div class="input-group-addon">years</div>
            </div>
          
            </div>
        </div>
        
        
        <div class="form-group">
          <div class="col-sm-2 control-label">
            <span class="nowrap">{{form.monthlyCost.label}} {% if form.developmentPlan.flags.required %}<span class="required">*</span>{% endif %}</span>
          </div>
          <div class="col-sm-2">
            <div class="input-group">
              <div class="input-group-addon">$</div>
              {{form.monthlyCost(placeholder="", class_="form-control")}}
              </div>
            </div>
        </div>    
        
        <div class="checkbox has-water" ng-init="parcel.hasWater = false;">
          <label>
            {{form.hasWater(class_="form-control form-checkbox", **{'ng-model':'parcel.hasWater'})}} {{form.hasWater.label}}
          </label>
        </div>
        
        <div class="form-group water-meter">
          <div class="col-sm-2 control-label">{{form.water.label}}</div>
          <div class="col-xs-2">
            <div class="input-group">
              {{form.water(class_="form-control", **{'ng-model':'parcel.water'})}}
              <div class="input-group-addon">inches</div>
            </div>
            </div>
        </div>
        
        <hr>
        <h3>Owner Details</h3>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.ownerName.label}} {% if form.ownerName.flags.required %}<span class="required">*</span>{% endif %}</div>
          <div class="col-sm-6">{{form.ownerName(class_="form-control", **{'ng-model':'parcel.ownerName'})}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.email.label}} {% if form.email.flags.required %}<span class="required">*</span>{% endif %}</div>
          <div class="col-sm-6">{{form.email(class_="form-control", **{'ng-model':'parcel.email'})}}
            <span class="help-block"><i>Your e-mail will not be displayed publicly. It will only be used to send you updates from people interested in leasing your property.</i></span>
          </div>
        </div>
        <input type="text" id="newParcelGeometry" name="geometry" class="ng-hide">
        <input type="text" id="newParcelCenter" name="center" class="ng-hide">
        <hr>
        <p><span class="highlighted"><strong>Please note that property listings are approved by City staff before being published.</strong></span></p>
        <div class="form-group parcel-submit">
          <div class="col-sm-10">
            <button class="btn btn-primary btn-lg btn-submit" type="submit" value="Post Parcel">Submit Your Property</button>
            <button class="btn btn-default btn-lg" type="button" value="Cancel" onclick="document.location.href='/'">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
