{% extends "layout.html" %}
{% block content %}
<div class="container" ng-controller="PublishListingsController">
  <div class="row">
    <div class="col-md-12">
      <h1 class="page-header">List a Parcel</h1>
      <p>Use the <img id="draw-tool-img" src="/static/public/images/draw-tool.png"> tool to draw a shape around the location of the parcel.</p>
      <leaflet id="list-parcels-map" center="center" layers="layers" width="100%" height="480px"></leaflet>
      <h1 class="page-header">Parcel Information</h1>
      <form id="editParcelForm" class="form form-register form-horizontal" method="POST" action="" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
          <div class="col-sm-2 control-label">
            <label for="newParcelSize">Area</label>
            <br />(in acres)
          </div>
          <div class="col-sm-2">
            <input type="text" id="newParcelSize" name="size" ng-readonly="true" class="readonly form-control">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.address.label}}</div>
          <div class="col-sm-6">{{form.address(placeholder="Bryte St. and Main St.", class_="form-control", **{'ng-model':'parcel.address'})}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.water.label}} <br />(in gal/min)</div>
          <div class="col-xs-2">{{form.water(placeholder='20', class_="form-control", **{'ng-model':'parcel.water'})}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.soil.label}}</div>
          <div class="col-sm-6">{{form.soil(placeholder='75% Clay; 25% Silty Loam', class_="form-control", **{'ng-model':'parcel.soil'})}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.developmentPlan.label}} <br />(in years)</div>
          <div class="col-sm-2">{{form.developmentPlan(placeholder="5", class_="form-control", **{'ng-model':'parcel.developmentPlan'})}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.zoning.label}}</div>
          <div class="col-sm-6">{{form.zoning(placeholder="Ag", class_="form-control", **{'ng-model':'parcel.zoning'})}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.restrictions.label}}</div>
          <div class="col-sm-6">{{form.restrictions(placeholder="None", class_="form-control", **{'ng-model':'parcel.restrictions'})}}</div>
        </div>
        <div class="form-group">
          <div class="col-sm-2 control-label">{{form.email.label}}</div>
          <div class="col-sm-6">{{form.email(placeholder="john@gmail.com", class_="form-control", **{'ng-model':'parcel.email'})}}
            <span class="help-block">We won't post your email address on this website, but people interested in the land will be able to contact you via a form.</span>
          </div>
        </div>
        <input type="text" id="newParcelGeometry" name="geometry" class="ng-hide">
        <input type="text" id="newParcelCenter" name="center" class="ng-hide">
        {{form.apn(class_="ng-hide", **{'ng-model':'parcel.apn'})}}
        <div class="form-group parcel-submit">
          <div class="col-sm-10">
            <button class="btn btn-primary btn-lg btn-submit" type="submit" value="Post Parcel">Post Parcel</button>
            <button class="btn btn-default btn-lg" type="button" value="Cancel" onclick="document.location.href='/'">Cancel</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
